/*pagina de contato*/
.contato-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.left-side {
  width: 100%;
  padding: 30px;
  background-color: #4f9cf9;
  border-radius: 14px;
  margin-right: 50px;
  margin-left: 60px;
  height: fit-content;
}

.left-side div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.left-side i {
  font-size: 24px;
  margin-right: 20px;
  color: white;
}

.left-side p {
  font-size: 17px;
  color: white;
}
